<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32.NET" version="1.0.2" targetFramework="net461" />
  <package id="LibGit2Sharp" version="0.23.1" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.164" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
</packages>